h4 {
  font-family: "ratiomodern", serif !important;
  width: 100%;
  text-align: center;
  font-size: 40px !important;
  padding: 25px;
  color: black;
}

.portfolio-section {
  background-color: #17254e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1200px;
}
.portfolio-section div img {
  width: 100vw;
  -o-object-fit: cover;
     object-fit: cover;
}
.portfolio-section .flex-content {
  align-items: center;
  justify-items: center;
}
.portfolio-section .flex-content .fc {
  width: 75vw;
  margin: 0 auto;
}
.portfolio-section .flex-content img {
  width: 100%;
  padding: 10%;
}

.project-container-2 {
  background-color: black;
}

.project-container-3 {
  background-color: white;
}

.logoImg {
  padding: 10%;
}

@media screen and (min-width: 450px) {
  .portfolio-section .flex-content {
    display: flex;
    flex-direction: row;
  }
}
@media screen and (min-width: 1000px) {
  .portfolio-section {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }
  .portfolio-section div img {
    width: 40vw;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .portfolio-section div {
    width: 50vw;
  }
  .flex-content .fc {
    margin: 0 auto;
  }
  .flex-content img {
    width: auto;
    padding: 10%;
  }
}
body {
  background-color: #f6e9ca !important;
  overflow-x: hidden !important;
}

h1 {
  font-family: "Open sans", sans-serif;
  padding-top: 15vw;
  font-size: 15px !important;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 5vh !important;
}
h1 span {
  text-decoration: overline;
  text-decoration-color: #884241;
}

.navbarSupportedContent {
  flex-basis: 0 !important;
}

.portfolio {
  background-color: #EA886A;
}

.parent {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  width: 100vw;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  background-color: #EA886A;
}
.parent div {
  width: 100%;
  height: 100%;
}
.parent .div2 {
  position: relative;
}
.parent .div2 a {
  position: absolute;
  bottom: 2%;
  left: 10%;
  z-index: 1;
  color: #884241;
  text-decoration: none;
}
.parent .bento-item {
  height: 250px !important;
  max-height: 450px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  font-weight: bold;
  transition: transform 0.3s ease;
}

h1::first-letter {
  font-size: 30px;
  font-weight: bold !important;
  color: #884241;
  font-family: "ratiomodern", serif;
}

.hero-section img {
  max-height: 25vh;
  width: 50vw;
  -o-object-fit: cover;
     object-fit: cover;
}

.portrait2 img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

h2 {
  font-family: "ratiomodern", serif;
  font-weight: 800 !important;
  font-size: 30px !important;
  text-transform: uppercase;
  color: #884241 !important;
}
h2 :first-of-type {
  text-align: start;
}

.h2-2 {
  text-align: center;
}

.h2-3 {
  text-align: end;
}

h3 {
  font-family: "ratiomodern", serif !important;
  font-size: 50px !important;
  text-transform: uppercase;
  width: 100vw;
  text-align: center;
  padding: 25px;
  background-color: #EA886A;
  margin-bottom: 0 !important;
}

body {
  font-size: 16px !important;
}

.portfolio {
  padding-top: 100px;
  padding-bottom: 50px;
}
.portfolio .row img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

.bento-item {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  font-weight: bold;
  transition: transform 0.3s ease;
}

.poster {
  height: 200px;
}
.poster img {
  max-height: 200px;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.tsumugi {
  padding: 50px;
  background-color: white;
}

.bento-item:hover {
  transform: scale(1.05);
}

.bento-tall {
  height: 410px;
}

.navbar-toggler {
  border: none !important;
}

@media screen and (min-width: 400px) {
  .parent {
    display: flex;
    flex-flow: row wrap;
    width: 100vw;
    justify-content: center;
  }
  .parent div {
    height: 250px;
    width: 50%;
  }
  .parent .bento-item {
    height: 250px;
    -o-object-fit: cover;
       object-fit: cover;
    font-weight: bold;
    transition: transform 0.3s ease;
  }
  .parent .tsumugi {
    -o-object-fit: contain !important;
       object-fit: contain !important;
    padding: 25px;
  }
}/*# sourceMappingURL=styles.css.map */