body {
  background-color: #fff0cd !important;
  overflow-x: hidden !important;
}

h1 {
  font-family: "Open sans", sans-serif;
  padding-top: 15vw;
  font-size: 15px !important;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 5vh !important;
}
h1 span {
  text-decoration: overline;
  text-decoration-color: #884241;
}

.parent {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 20px;
  width: 100vw;
  align-items: center;
}
.parent div {
  width: 100%;
  height: 100%;
}
.parent .div2 {
  position: relative;
}
.parent .div2 a {
  position: absolute;
  bottom: 2%;
  margin-left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  color: #884241;
  text-decoration: none;
}
.parent .bento-item {
  max-height: 450px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  font-weight: bold;
  transition: transform 0.3s ease;
}

h1::first-letter {
  font-size: 30px;
  font-weight: bold !important;
  color: #884241;
  font-family: "ratiomodern", serif;
}

.hero-section img {
  max-height: 25vh;
  width: 50vw;
  -o-object-fit: cover;
     object-fit: cover;
}

.portrait2 img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

h2 {
  font-family: "ratiomodern", serif;
  font-weight: 800 !important;
  font-size: 30px !important;
  text-transform: uppercase;
  color: #884241 !important;
}
h2 :first-of-type {
  text-align: start;
}

.h2-2 {
  text-align: center;
}

.h2-3 {
  text-align: end;
}

h3 {
  font-family: "ratiomodern", serif !important;
}

body {
  font-family: "Open sans", sans-serif;
  font-size: 16px !important;
}

.portfolio {
  padding-top: 100px;
  padding-bottom: 50px;
}
.portfolio .row img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

.bento-item {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  font-weight: bold;
  transition: transform 0.3s ease;
}

.poster {
  height: 200px;
}
.poster img {
  max-height: 200px;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.tsumugi {
  padding: 50px;
}

.bento-item:hover {
  transform: scale(1.05);
}

.bento-tall {
  height: 410px;
}

.navbar-toggler {
  border: none !important;
}

@media screen and (min-width: 400px) {
  .parent {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    width: 100vw;
    justify-content: center;
  }
  .parent div {
    background-color: green;
    height: 250px;
    width: 45vw;
  }
  .parent .bento-item {
    height: 250px;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    font-weight: bold;
    transition: transform 0.3s ease;
  }
}
@media screen and (min-width: 768px) {
  .parent {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 8px;
    grid-row-gap: 8px;
  }
  .parent div {
    background-color: green;
  }
  .div1 {
    grid-area: 1/1/5/5;
  }
  .div2 {
    grid-area: 5/1/8/3;
  }
  .div3 {
    grid-area: 5/3/8/5;
  }
  .div4 {
    grid-area: 5/5/8/7;
  }
  .div5 {
    grid-area: 1/5/3/7;
  }
  .div6 {
    grid-area: 3/5/5/7;
  }
  .hero-section img {
    height: 50vh;
    -o-object-position: center;
       object-position: center;
    max-height: 350px;
  }
}/*# sourceMappingURL=styles.css.map */