@import "scss/variables.scss";
@import "scss/partials.scss/_projects.scss";

body{
    background-color: $primary-bg-color !important;
    overflow-x: hidden !important;
}
h1{
    font-family: $secondary-font;
    padding-top: 15vw;
    font-size: 15px !important;
    text-transform:capitalize;
    text-align: center;
    
    margin-bottom: 5vh !important;

    span{
        text-decoration:overline;
        text-decoration-color: $secondary-color;
    }
    
   
}

.navbarSupportedContent{
    flex-basis: 0 !important;
}


//PORTFOLIO

.portfolio{
    background-color: $orange;
}

.parent {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
width: 100vw;
align-items: center;
// height: 1200px;
max-width: 1000px;
margin: 0 auto;
background-color: $orange;


    div{
        // max-height: 400px;
        width: 100%;
        height: 100%;

     

  
    }

    .div2{
        position:relative;

        a{
            position: absolute;
            bottom: 2%;
            left:10%;
            z-index: 1;
            color:$secondary-color;
            text-decoration: none;
        }
    }

    .bento-item {
        height: 250px !important;
        max-height: 450px;        
        width: 100%;
        object-fit: cover;
        font-weight: bold;
        transition: transform 0.3s ease;
        
        
        
    }
}
    
    // .div1 { grid-area: 1 / 1 / 5 / 5; }
    // .div2 { grid-area: 5 / 1 / 8 / 3; }
    // .div3 { grid-area: 5 / 3 / 8 / 5; }
    // .div4 { grid-area: 5 / 5 / 8 / 7; }
    // .div5 { grid-area: 1 / 5 / 3 / 7; }
    // .div6 { grid-area: 3 / 5 / 5 / 7; } 
// h1 .first-letter{
//     font-family: $main-font;
//     font-size: 25px;
//     color: $blue-color;
// }

h1::first-letter{
    font-size: 30px;
    font-weight: bold !important;
    color: $secondary-color;
    font-family: $main-font;
}

.hero-section{
    img{
        max-height: 25vh;
        width: 50vw;
        object-fit: cover;
    }
}
.portrait2 img{
    height: 100%;
    object-fit:cover ;
}


h2{
    
   font-family: $main-font;
   font-weight:800 !important;
   font-size:30px !important;
    text-transform: uppercase;
   
   color:$secondary-color !important;
   

   :first-of-type{
    text-align: start;
   }
   
}

.h2-2{
   text-align: center;
}
.h2-3{
    text-align: end;
 }
h3{
    font-family: $main-font !important;
    font-size: 50px !important;
    text-transform: uppercase;
    width: 100vw;
    text-align: center;
    
    padding:25px;
    background-color: $orange;
    margin-bottom: 0 !important;
}


body{
    font-size: 16px !important;
    
}

 .portfolio{
    // background-color: $orange;
    padding-top:100px ;
    padding-bottom: 50px;

    
        .row{
            img{
                object-fit: cover;
                height: 100%;
            }
        }
    
}
.bento-item {
    // height: 200px;        
    width: 100%;
    object-fit: cover;
    font-weight: bold;
    transition: transform 0.3s ease;
    
    
    
}
    .poster{
        height: 200px;
        
        img{
            max-height: 200px;
            width: 100%;
            object-fit: contain;
        }
    }

.tsumugi{
    padding: 50px;
    background-color: white;
}


.bento-item:hover {
    transform: scale(1.05);
}

.bento-tall {
    height: 410px;
}

.navbar-toggler{
    border: none !important ;
}



        


@media screen and (min-width:400px) {
    .parent {
        display: flex;
        flex-flow:row wrap;
        // gap:10px;
    width: 100vw;
    justify-content: center;
    
        div{
            height: 250px;
            width: 50%;
        }

        // .div1 .bento-item{
        //     object-fit:contain;
        // }

         .bento-item {
        height: 250px;        
        
        object-fit: cover;
        font-weight: bold;
        transition: transform 0.3s ease;
        

      
        
        
    }

    .tsumugi{
        object-fit: contain !important;
        padding: 25px;
    }
    }

    
        

}
@media screen and (min-width:768px) {

    //PORTFOLIO


    


    




}

@media screen and (min-width:1200px) {

   
  

}