@import '../variables.scss';
// //projects



h4{
    text-transform: uppercase;
    font-size: calc(25px + ( 60 - 25) * ((100vw - 300px) / (1600 - 300))) !important;


    }

.portfolio-section{
    display: flex;
    flex-direction: column;
    justify-content: center;

   
    .text-1{
        color:$primary-bg-color;
    }
     
    div img{
        width: 100vw; 
        max-width: 1000px;
        object-fit: cover;
        margin:0 auto;
    }


    .flex-content{
        align-items: center;
        justify-items: center;
        max-width: 1000px;
        margin: 0 auto;

   

.fc{
    width: 75vw;
    margin:0 auto;
}
        img{
            width: 100%;
            padding: 10%;
        }
    }
}

.project-container-1{
    background-color:#17254e;

   


    p{
        
        color:$primary-bg-color;
  


    }

h4{
    font-family: $main-font !important;
    width: 100%;
    text-align: center;
    // color:$primary-bg-color !important;
    color:$primary-bg-color;
}

}
.project-container-2{
    background-color: rgb(8, 8, 8);

h4{
    font-family: $main-font !important;
    width: 100%;
    text-align: center;
    // color:$primary-bg-color !important;
    color:$primary-bg-color;
}


p{
        
    color:$primary-bg-color;



}
}
.project-container-3{
    background-color: white;

h4{
    font-family: $main-font !important;
    width: 100%;
    text-align: center;
    // color:$primary-bg-color !important;
    color:$black-font;
}
}

.project-container-4{
    background-color:#fcca70;


h4{
    font-family: $main-font !important;
    width: 100%;
    text-align: center;
    // color:$primary-bg-color !important;
    color:$black-font;
}
}
.project-container-5{

    .testing{
        max-width: 800px;
        margin: 0 auto;
    }
    .carousel-caption p {
        color:$black-font;
    }
    background-color:whitet;
    p{
        
        color:$black-font;
    
    
    
    }

h4{
    font-family: $main-font !important;
    width: 100%;
    text-align: center;
    // color:$primary-bg-color !important;
    color:$black-font;
}
}

.project-container-1, .project-container-2,.project-container-3, .project-container-4, .project-container-5{

    .info{
        padding-top: 30px;
        padding-bottom: 50px;

        p{
            width: 90vw;
            max-width: 800px;
            margin:0 auto;
            margin-bottom: 20px;
        }
    }
   
    width: 100vw;
    
    padding-top: 15vh;
    padding-bottom: 15vh;
    .testing div{
        max-width: 1000px;
        margin:0 auto;
        
        
    }
   
   
}

.project-grid{


    div{
       
    }
     div{
    }
}


//logo img

.logoImg{
    padding: 10%;
}



@media  screen and (min-width:450px) {

    .portfolio-section{
       
        .flex-content{
            display: flex;
            flex-direction: row;
        }
         
    }
    
}

@media  screen and (min-width:1000px) {

   .project-grid{

    div{
      
          
        
    }
   }

    // .portfolio-section{
    //     display: flex;
    //     flex-flow: row wrap;
    //     justify-content: center;
    //     align-items: center;
    //     div img{
    //         width: 40vw;
    //         object-fit: cover;

    //     }

    //     div {
    //         width: 50vw;
    //     }
    
    // }

    .flex-content{

.fc{
    margin:0 auto;
}
        img{
            width: auto;
            padding: 10%;
        }
    }
    
}

