@import '../variables.scss';
// //projects



h4{
    font-family: $main-font !important;
    width: 100%;
    text-align: center;
    font-size: 40px !important;
    padding:25px;
    // color:$primary-bg-color !important;
    color:black;
}

.portfolio-section{
    background-color:#17254e;
    display: flex;
    flex-direction: column;
    justify-content: center;


    
     
    div img{
        width: 100vw;
        max-width: 1000px;
        object-fit: cover;
    }


    .flex-content{
        align-items: center;
        justify-items: center;
        max-width: 1000px;
        margin: 0 auto;

    

.fc{
    width: 75vw;
    margin:0 auto;
}
        img{
            width: 100%;
            padding: 10%;
        }
    }
}

.project-container-2{
    background-color: black;
}
.project-container-1{
    margin:0 auto;
    .testing{
        max-width: 1000px;
        
    }
}
.project-container-3{
    background-color: white;
}
.project-container-1, .project-container-2, .project-container-4, .project-container-5{

   
   
}

.project-grid{


    div{
       
    }
     div{
    }
}


//logo img

.logoImg{
    padding: 10%;
}



@media  screen and (min-width:450px) {

    .portfolio-section{
       
        .flex-content{
            display: flex;
            flex-direction: row;
        }
         
    }
    
}

@media  screen and (min-width:1000px) {

   .project-grid{

    div{
      
          
        
    }
   }

    // .portfolio-section{
    //     display: flex;
    //     flex-flow: row wrap;
    //     justify-content: center;
    //     align-items: center;
    //     div img{
    //         width: 40vw;
    //         object-fit: cover;

    //     }

    //     div {
    //         width: 50vw;
    //     }
    
    // }

    .flex-content{

.fc{
    margin:0 auto;
}
        img{
            width: auto;
            padding: 10%;
        }
    }
    
}

